<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NTF Market</title>
    </head>
    <body>
        <h1>Upload file to IPFS</h1>
        <form action="/createBounty" method="post" enctype="multipart/form-data">
            <label>Title</label>
            <input type="text" name="title">
            <br><br>
            <label>Description</label>
            <input type="text" name="description">
            <br><br>
            <label>reward</label>
            <input type="text" name="reward">
            <br><br>
            <label>expiry</label>
            <input type="text" name="expiry">
            <br><br>
            <input type="file" name="file">
            <br><br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>